header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background: transparent;
  transition: all ease 0.5s;
}
header.black {
  background-color: #141414;
}
.header--logo {
  height: 30px;
}
.header--logo img {
  height: 100%;
}
.header--user {
  height: 35px;
}
.header--user img {
  height: 100%;
  border-radius: 3px;
}